<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>

<h1>Register Customers</h1>
<form action="#" th:action="@{/customer}" method="POST">
    <label for="inputId">Id</label>
    <input type="input" name="id" id="inputId">

    <label for="inputName">Name</label>
    <input type="input" name="name" id="inputName">

    <label for="inputPin">Pin</label>
    <input type="input" name="pin" id="inputPin">

    <input type="submit">
</form>
<hr>

<h1>All Customers</h1>

<table border="1px">
    <tr><th>Id</th><th>Name</th></tr>

    <div th:each="customer : ${allCustomers}">
        <tr>
            <td><span th:text="${customer.id}">Id</span></td>
            <td><span th:text="${customer.name}">Name</span></td>
        </tr>
    </div>
</table>

</body>
</html>